html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
    font-size: 62.5%
}

body {
  background-image: url('../images/main.jpg');
  background-size: cover;  
  background-repeat: no-repeat;
  background-attachment: fixed;
/* Use a system font, if none are available use an available sans-sarif font */
  font-family: 'Rubik', sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
}

h1{
  font-size: 4rem;    
  text-decoration: underline;
  font-weight: 900px;
}

h3{
  font-size: 2.5rem;    
  margin-left: 10px;
  margin-right: 10px;
}

#app-description{
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
  border: solid 1px black;
  border-radius: 25px;
  margin-top: 50px;
  text-align: center;
  width: 60%;
}

h4{
  font-size: 2rem;
  margin-bottom: 0;
}

button{
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {

  #app-description{
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);    
    width: 90%;
    border: solid 1px black;
    border-radius: 20px;
    text-align: center;
  }
  
  h1{
    font-size: 2.7rem;    
    text-decoration: underline;
    font-weight: 900px;
    
  }
  
  h3{
    font-size: 1.6rem;    
    margin-left: 10px;
    margin-right: 10px;
  }
  
  h4{
    font-size: 1.4rem;
    margin-bottom: 0;
  }

button{
  margin-bottom: 10px;
  
}
}
