html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
    font-size: 62.5%
}

body {
  background-image: url('../images/main.jpg');
  background-size: cover;  
  background-repeat: no-repeat;
  background-attachment: fixed;
/* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
}

h1{
  font-size: 4rem;    
  text-decoration: underline;
}

h3{
  font-size: 2.5rem;    
}

#app-description{
  margin-left: 2px;
  margin-right: 2px;
}

h4{
  font-size: 2rem;
  margin-bottom: 0;
}

button{
margin: 0;
}



@media screen and (max-width: 767px) {
  body {
    background-image: url('../images/main.jpg');
    background-size: cover;  
    background-repeat: no-repeat;
    background-attachment: fixed;
  /* Use a system font, if none are available use an available sans-sarif font */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    margin: 0;
  }
  
  main{
    opacity: 90%;
    margin-top: 40px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    border: solid 1px black;
    text-align: center;
  }
  
  h1{
    font-size: 2.5rem;    
    text-decoration: underline;
  }
  
  h3{
    font-size: 1.5rem;    
  }
  
  #app-description{
    margin-left: 2px;
    margin-right: 2px;
  }

  h4{
    font-size: 1.2rem;
    margin-bottom: 0;
  }

button{
  margin: 0;
  
}
}