<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/new.css">
<%- include('../partials/nav') %>


<form id="add-new-rating-form" action="/foods" method="POST">
<h1>Add New Review</h1>
<section>
  <label for="name-input">Food:</label> 
  <input type="text" name="food" id="name-input" placeholder="ex. Chicken Sandwich" required>
  <label for="name-input">Restaurant:</label> 
  <input type="text" name="restaurant" id="restaurant-input" placeholder="ex. Chick-fil-A" required>
  <label for="name-input">Location:</label> 
  <input type="text" name="location" id="location-input" placeholder="ex. Columbus,OH" required>
  <label>Rating:
    <select type="text" name="rating">
      <option value="⭐️">⭐️</option>
      <option value="⭐️⭐️">⭐️⭐️</option>
      <option value="⭐️⭐️⭐️" selected>⭐️⭐️⭐️</option>
      <option value="⭐️⭐️⭐️⭐️">⭐️⭐️⭐️⭐️</option>
      <option value="⭐️⭐️⭐️⭐️⭐️">⭐️⭐️⭐️⭐️⭐️</option>
    </select><br><br>    
<label for="content-textarea">Review:</label>
<textarea name="content" id="content-textarea"></textarea> 
<button type="submit">Submit</button>
</form>
</section> 

<%- include('../partials/footer') %>