<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1>Add Food Rating</h1>
<section>
<form id="add-new-rating-form" action="/foods" method="POST">
  <label for="name-input">Food:</label> 
  <input type="text" name="food" id="name-input" placeholder="ex. Chicken Sandwich" required>
  <label for="name-input">Restaurant:</label> 
  <input type="text" name="restaurant" id="restaurant-input" placeholder="ex. Chick-fil-A" required>
  <label>Rating:
    <select type="text" name="rating">
      <option value="⭐️">⭐️</option>
      <option value="⭐️⭐️">⭐️⭐️</option>
      <option value="⭐️⭐️⭐️" selected>⭐️⭐️⭐️</option>
      <option value="⭐️⭐️⭐️⭐️">⭐️⭐️⭐️⭐️</option>
      <option value="⭐️⭐️⭐️⭐️⭐️">⭐️⭐️⭐️⭐️⭐️</option>
    </select>
  <button type="submit">Submit</button>
</form>
</section>

<h2>Add Review</h2>  
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Review</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        <#% food.reviews.forEach(function(review){ %>        
          <tr>
            <td><%#= review.createdAt.toLocaleDateString() %> </td>
            <td><%#= review.content %></td>
            <td><%#= review.rating %> </td>
          </tr>
        <%# }) %>          
      </tbody>
    </table>  
    <form 
    id="add-new-review-form"
    action=""
    method="POST"
  >
    <label for="content-textarea">Review:</label>
    <textarea name="content" id="content-textarea"></textarea>   
    <button type="submit">Add Review</button>
  </form>

<%- include('../partials/footer') %>