<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1>Add Food Review</h1>
<section>
<form id="add-new-review-form" action="/foods" method="POST">
  <label for="name-input">Food:</label> 
  <input type="text" name="food" id="name-input" placeholder="ex. Chicken Sandwich" required>
  <label for="name-input">Restaurant:</label> 
  <input type="text" name="restaurant" id="restaurant-input" placeholder="ex. Chick-fil-A" required>
  <label>Rating:
    <select type="text" name="rating">
      <option value="⭐️">⭐️</option>
      <option value="⭐️⭐️">⭐️⭐️</option>
      <option value="⭐️⭐️⭐️" selected>⭐️⭐️⭐️</option>
      <option value="⭐️⭐️⭐️⭐️">⭐️⭐️⭐️⭐️</option>
      <option value="⭐️⭐️⭐️⭐️⭐️">⭐️⭐️⭐️⭐️⭐️</option>
    </select>
  <button type="submit">Submit</button>
</form>
</section>

<h2>Add Review</h2>  
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Review</th>        
        </tr>
      </thead>

<%- include('../partials/footer') %>