<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1>Add Food Review</h1>

<form id="add-new-review-form" action="" method="POST">
  <label for="name-input">Food:</label> 
  <input type="text" name="food" id="name-input" placeholder="Chicken Sandwich">
  <label for="name-input">Restaurant:</label> 
  <input type="text" name="restaurant" id="restaurant-input" placeholder="Chick-fil-A">
  <label>Rating:
    <select type="text" name="rating" placeholder="⭐⭐⭐">
      <option value="oneStar">⭐</option>
      <option value="twoStar">⭐⭐</option>
      <option value="threeStar">⭐⭐⭐</option>
      <option value="fourStar">⭐⭐⭐⭐</option>
      <option value="fiveStar">⭐⭐⭐⭐⭐</option>
    </select>

  <button type="submit">Submit</button>
</form>

<%- include('../partials/footer') %>